@using TalentSearch.Core.Datawarehouse
@using TalentSearch.Web.Models.Configurations

@{
	tbl_datawarehouse _Data = (tbl_datawarehouse)@ViewData["UserProfileDetail"];
}

<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
	<div class="card-header cursor-pointer">
		<div class="card-title m-0">
			<h3 class="fw-bold m-0">Finance Utilization</h3>
		</div>
	</div>
	<div class="card-body p-9">
		<div class="row mb-7">
			<label class="col-lg-4 fw-semibold text-muted">Invoice Date</label>
			<div class="col-lg-8">
				<span class="fw-semibold fs-6 text-gray-800">@_Data.tbl_dcps.inv_date</span>
			</div>
		</div>
		<div class="row mb-7">
			<label class="col-lg-4 fw-semibold text-muted">Funding Model</label>
			<div class="col-lg-8">
				<span class="fw-semibold fs-6 text-gray-800">@_Data.tbl_Scholar.funding_model</span>
			</div>
		</div>
		<div class="row mb-7">
			<label class="col-lg-4 fw-semibold text-muted">Amount with GST</label>
			<div class="col-lg-8">
				<span class="fw-semibold fs-6 text-gray-800">MYR @_Data.tbl_dcps.amt_w_gst</span>
			</div>
		</div>

	</div>
</div>