<!-- Question 2-->
<div class="fv-row mb-10" id="Q2">
    <!--begin::Row-->
    <div class="row mb-2">
        <!--begin::Input group-->
        <!--begin::Label-->
        <span style="font-weight:bold;">QUESTION: </span>
        <label class="d-flex align-items-center form-label mb-3 required">
            Would you like to be part of Yayasan Peneraju's leadership development initiative?
            <span class="ms-1" data-bs-toggle="tooltip" title="Provide your enrollment information">
                <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                </i>
            </span>
        </label>
        <!--end::Label-->
        <!--begin::Input-->
        <select name="Q2" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="true">
            <option></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <!--end::Input-->
    </div>
    <!--end::Row-->
</div>